.coment-box{
  display: flex;
  flex-direction: column;
}
.edit-box{
  height: 30vh;
  display: flex;
  justify-content: center;
}
button{
  width: 150px;
  height: 70px;
}
.post-info{
  margin: 30px auto;
}
