.post-box {
    border: 1px solid lightslategray;
}

.post-box:hover {
    background-color: lightslategray;
}

.post-title {
    text-align: center;
}

.form-container {
    width: 50vw !important;
    margin: 10px auto;
}

input {
    display: inline;
}

.main-create-container {
    background-color: #61dafb;
    height: 180px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
}

.btn-w-h {
    width: 150px;
    height: 40px;
    margin-left: 10px;
}
